body {
    background-color: #eae0d5;
    color: #252422;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style: none;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10%;
    width: 100%;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 2%;
}

.links > a > img {
    width: 48px;
    height: 48px;
}

.my-picture {
    width: min-content;
}

.my-picture > img {
    border: 6px solid #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 29px 2px rgba(0,0,0,0.58); 
    box-shadow: 5px 5px 29px 2px rgba(0,0,0,0.58);
    min-width: 280px;
    width: 20%;
}